.menu-navigation-dark {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0;
    text-align: center;
    margin-bottom: -90px;
}

.menu-navigation-dark a {
    margin-top: 5px;
    display: inline-block;
    color: #ffffff;
    background-color: #651B1B;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    border-top: none;
    width: 150px;
    box-sizing: border-box;
}

.menu-navigation-dark a:hover {
    background-color: #D27575;
}

.menu-navigation-dark a:first-child{
    border-left: 1px solid #161718;
}

.menu-navigation-dark a:not(.selected) {
    box-shadow:	1px 3px 5px 0 rgba(0, 0, 0, 0.26),
    inset 1px 0 0 #323435,
    inset 0 1px 0 #282a2b,
    inset 0 -1px 0 #282a2b;
}

.menu-navigation-dark a:last-child {
    box-shadow:	1px 3px 5px 0 rgba(0, 0, 0, 0.26),
    inset 1px 0 0 #323435,
    inset -1px 0 0 #282a2b,
    inset 0 1px 0 #282a2b,
    inset 0 -1px 0 #282a2b;
}

.menu-navigation-dark a i {
    display: block;
    line-height: 1.3;
}

.menu-navigation-dark a span {
    display: block;
    font-size: 11px;
    font-weight: bold;
    line-height: 2;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.menu-navigation-dark a.selected {
    background-color: #000000;
    border-bottom: 2px solid #4a9fda;
    pointer-events: none;
}

.menu-navigation-dark a.selected i {
    color: #FF1D1D;
}

/* Make this page responsive */

.slicknav_menu {
    display:none;
}

@media (max-width: 800px) {
    .menu-navigation-dark{
        display:none;
    }
    .slicknav_nav a i {
        display: none;
    }
    .slicknav_menu {
        display:block;
    }
    .slicknav_menu:hover{
        background-color: #000000;
    }
}
